@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "./custom-framework.css";

$borderColor: #d6d6d6;
$mainColor: #0a6fff;
$darkColor: #043a87;
$shadowColor: #d4d4d4;
$textColor: #525252;
$dark: #1f1f1f;

body {
  position: relative;
  font-family: "Lato", sans-serif;
  color: $textColor;
  line-height: 1.6;
}

/*---------------------------------
nav
---------------------------------*/
nav {
  border-bottom: 1px solid $borderColor;
  box-shadow: 0px 0px 2px 0px $shadowColor;
  .wrapper-nav {
    position: relative;
    height: 50px;
    max-height: 50px;
    .btn-nav-mobile,
    .brand-name-mobile {
      display: none;
    }
    ul {
      li {
        padding: 15px 20px;
        transition: all 0.3s linear;
        cursor: pointer;
        .child-list {
          position: absolute;
          top: 0%;
          border-top: none;
          box-shadow: 0px 2px 6px 0px $shadowColor;
          background-color: #fff;
          border-radius: 4px;
          padding: 10px 0;
          border: 1px solid $borderColor;
          display: none;
          li {
            padding: 0 10px;
            a {
              padding: 0 10px;
              width: 100%;
              font-size: 15px;
              color: $textColor;
              padding: 7px 0;
            }
          }
          &:hover {
            display: block;
            animation: topToBottom 1s forwards;
          }
        }
        &:hover {
          background-color: #fafafa;
        }
        &:hover > .child-list {
          display: block;
          animation: topToBottom 0.7s forwards
            cubic-bezier(0.165, 0.84, 0.44, 1);
        }
      }
    }
  }
}

/*---------------------------------
home page
---------------------------------*/
.wrapper-home-page {
  @extend %bgColor;
  padding-bottom: 100px;
  .home-page {
    header {
      h1 {
        margin: 0.5rem 0;
      }
      p {
        margin: 0.5rem 0;
      }
      form {
        input {
          height: 50px;
          border-radius: 25px;
          font-size: 18px;
          padding: 0 15px;
          border: 1px solid $shadowColor;
          color: $textColor;
          box-shadow: 0px 0px 11px 0px $shadowColor;
          &:focus {
            box-shadow: 0px 0px 1px 1px $mainColor;
          }
          &::placeholder {
            color: $borderColor;
          }
        }
      }
    }
    .list-tools {
      ul {
        height: inherit;
        gap: 15px;
        li {
          a {
            display: inline-block;
            background-color: #fff;
            color: $textColor;
            padding: 12px 30px;
            width: 100%;
            box-shadow: 0px 0px 2px 0px $shadowColor;
            transition: all 0.3s ease;
            &:hover {
              box-shadow: 0px 1px 12px 0px $shadowColor;
            }
          }
        }
      }
      .no-result {
        font-size: 50px;
        opacity: 0.5;
        user-select: none;
      }
    }
  }
}

/*---------------------------------
generate password page
---------------------------------*/
.wrapper-gene-pwd {
  @extend %bgColor;
  .gene-pwd {
    width: 60%;
    padding: 2rem 0;
    margin: 0 auto;
    header {
      margin: 1rem 0;
      h1 {
        margin-bottom: 0.5rem;
      }
    }
    .input {
      text-align: center;
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        label {
          cursor: pointer;
        }
        input[type="checkbox"] {
          cursor: pointer;
        }
        select {
          padding: 0 10px;
          width: 100px;
        }
      }
      button {
        margin: 1rem 0;
        @extend %styleButton;
      }
    }
    .output {
      .task-bar {
        display: flex;
        justify-content: flex-end;
        padding: 5px 0;
        button {
          @extend %styleCopyBtn;
        }
      }
      .result {
        @extend %styleOutput;
      }
    }
    .about {
      p {
        margin: 1rem 0;
      }
    }
  }
}

/*---------------------------------
generate QRcode
---------------------------------*/
.wrapper-gene-qrcode {
  @extend %bgColor;
  .gene-qrcode {
    width: 60%;
    padding: 2rem 0;
    margin: 0 auto;
    header {
      margin: 1rem 0;
      h1 {
        margin-bottom: 0.5rem;
      }
    }
    .input {
      text-align: center;
      .alert-error {
        color: red;
        padding: 5px;
      }
      input {
        width: 100%;
        margin: 0 auto;
        display: block;
        box-shadow: inset 0px 1px 5px 0px $borderColor;
        padding: 10px;
      }
      button {
        margin: 29px 0;
        @extend %styleButton;
        &:hover {
          box-shadow: 0px 0px 15px 0px $borderColor;
        }
      }
      .btn-download {
        background-color: #59c359;
      }
    }
    .output {
      @extend %styleOutput;
      .QR-code {
        font-size: 4rem;
        user-select: none;
      }
    }
    .about {
      h2 {
        padding-top: 1rem;
      }
      p {
        padding: 0.5rem 0;
      }
    }
  }
}

/*---------------------------------
generate box shadow
---------------------------------*/
.wrapper-gene-shadow {
  @extend %bgColor;
  .gene-shadow {
    width: 60%;
    padding: 2rem 0;
    margin: 0 auto;
    header {
      margin: 1rem 0;
      h1 {
        margin-bottom: 0.5rem;
      }
    }
    .input {
      margin: 1rem 0;
      .controls {
        .controls-1 {
          margin-bottom: 1rem;
          form {
            label {
            }
            input[type="radio"] {
            }
          }
        }
        .controls-2 {
          .parent-radio {
            display: flex;
            justify-content: space-between;
            align-items: center;
            label {
            }
            input[type="range"] {
            }
            span {
            }
          }
        }
      }
    }
    .output {
      .task-bar {
        display: flex;
        justify-content: flex-end;
        button {
          padding: 5px;
          background-color: transparent;
          svg {
            font-size: 15px;
          }
        }
      }
      .result {
        @extend %styleOutput;
      }
    }
    .box-review {
      user-select: none;
      span {
        font-size: 2rem;
        opacity: 0.5;
      }
    }
  }
}

/*---------------------------------
generate MD5 hash
---------------------------------*/
.wrapper-md5-hash {
  @extend %bgColor;
  .md5-hash {
    width: 60%;
    padding: 2rem 0;
    margin: 0 auto;
    header {
      margin: 1rem 0;
      h1 {
        margin-bottom: 0.5rem;
      }
    }
    .input {
      textarea {
        @extend %styleOutput;
        width: 100%;
        resize: none;
        font-size: 18px;
      }
    }
    .alert-error {
      color: red;
      font-weight: bold;
    }
    .controls {
      margin: 0.5rem 0 1rem 0;
      button {
        @extend %styleButton;
      }
    }
    .output {
      .task-bar {
        display: flex;
        justify-content: flex-end;
        padding: 3px 0;
        button {
          @extend %styleCopyBtn;
        }
      }
      .result {
        @extend %styleOutput;
      }
    }
  }
}

/*---------------------------------
base64 decode
---------------------------------*/
.wrapper-base64-decode {
  @extend %bgColor;
  .base64-decode {
    width: 60%;
    padding: 2rem 0;
    margin: 0 auto;
    header {
      margin: 1rem 0;
      h1 {
        margin-bottom: 0.5rem;
      }
    }
    .input {
      textarea {
        width: 100%;
        resize: none;
        font-size: 18px;
        @extend %styleOutput;
      }
    }
    .alert-error {
      color: red;
      font-weight: bold;
    }
    .controls {
      margin: 1rem 0;
      button {
        @extend %styleButton;
      }
    }
    .output {
      .task-bar {
        display: flex;
        justify-content: flex-end;
        padding: 5px 0;
        button {
          @extend %styleCopyBtn;
        }
      }
      .result {
        @extend %styleOutput;
      }
    }
    .about {
      h2 {
        padding-top: 1rem;
      }
      p {
        padding: 0.5rem 0;
      }
    }
  }
}

/*---------------------------------
base64 encode
---------------------------------*/
.wrapper-base64-encode {
  @extend %bgColor;
  .base64-encode {
    width: 60%;
    padding: 2rem 0;
    margin: 0 auto;
    header {
      margin: 1rem 0;
      h1 {
        margin-bottom: 0.5rem;
      }
    }
    .input {
      textarea {
        width: 100%;
        resize: none;
        font-size: 18px;
        @extend %styleOutput;
      }
    }
    .alert-error {
      color: red;
      font-weight: bold;
    }
    .controls {
      margin: 1rem 0;
      button {
        @extend %styleButton;
      }
    }
    .output {
      .task-bar {
        display: flex;
        justify-content: flex-end;
        padding: 5px 0;
        button {
          @extend %styleCopyBtn;
        }
      }
      .result {
        @extend %styleOutput;
      }
    }
    .about {
      h2 {
        padding-top: 1rem;
      }
      p {
        padding: 0.5rem 0;
      }
    }
  }
}

/*---------------------------------
txet tool
---------------------------------*/
.wrapper-text-tool {
  @extend %bgColor;
  .text-tool {
    width: 60%;
    padding: 2rem 0;
    margin: 0 auto;
    header {
      margin: 1rem 0;
      h1 {
        margin-bottom: 0.5rem;
      }
    }
    .task-bar {
      .parent-txet-copy {
        button {
          @extend %styleCopyBtn;
        }
      }
    }
    .input {
      textarea {
        @extend %styleOutput;
        width: 100%;
        resize: none;
      }
    }
    .controls-btns {
      margin: 1rem 0 0.8rem 0;
      button {
        @extend %styleButton;
      }
    }
  }
}

/*---------------------------------
RGB color to Hex color
---------------------------------*/
.wrapper-rgb-to-hex {
  @extend %bgColor;
  .rgb-to-hex {
    width: 60%;
    padding: 3rem 0;
    margin: 0 auto;
    header {
      margin: 1.1rem 0;
      h1 {
        margin-bottom: 0.5rem;
      }
    }
    .input {
      textarea {
        @extend %styleOutput;
        width: 300px;
        resize: none;
        font-size: 18px;
        overflow-y: hidden !important;
        height: 49px !important;
        max-height: 49px !important;
      }
      .box-color-preview {
        width: 100%;
        height: 87%;
        border: 1px solid $borderColor;
        font-size: 30px;
        text-transform: uppercase;
      }
      .controls {
        margin: 1rem 0;
        button {
          @extend %styleButton;
        }
      }
    }
    .alert-error {
      color: red;
      font-weight: bold;
    }
    .output {
      .task-bar {
        display: flex;
        justify-content: flex-end;
        button {
          @extend %styleCopyBtn;
        }
      }
      .result {
        @extend %styleOutput;
      }
    }
  }
}

/*---------------------------------
Hex color to RGB color
---------------------------------*/
.wrapper-hex-to-rgb {
  @extend %bgColor;
  .hex-to-rgb {
    width: 60%;
    padding: 3rem 0;
    margin: 0 auto;
    header {
      margin: 1.1rem 0;
      h1 {
        margin-bottom: 0.5rem;
      }
    }
    .input {
      textarea {
        @extend %styleOutput;
        width: 300px;
        resize: none;
        font-size: 18px;
        overflow-y: hidden !important;
        height: 49px !important;
        max-height: 49px !important;
      }
      .alert-error {
        color: red;
        font-weight: bold;
      }
      .controls {
        margin: 1rem 0;
        button {
          @extend %styleButton;
        }
      }
      .box-color-preview {
        width: 100%;
        height: 87%;
        border: 1px solid $borderColor;
        font-size: 30px;
        text-transform: uppercase;
      }
    }
    .output {
      .task-bar {
        display: flex;
        justify-content: flex-end;
        button {
          @extend %styleCopyBtn;
        }
      }
      .result {
        @extend %styleOutput;
      }
    }
  }
}

/*---------------------------------
footer
---------------------------------*/
footer {
  text-align: center;
  padding: 1rem;
  background-color: $dark;
  color: #fff;
  font-size: 15px;
}

%bgColor {
  background-color: #fafafa;
}

%styleCopyBtn {
  color: $textColor;
  margin: 0 0 0 20px;
  padding: 3px;
  transition: all 0.3s ease;
  background-color: transparent;
  svg {
    font-size: 15px;
  }
  span > svg {
    color: $mainColor;
  }
  &:active {
    transform: scale(1.1);
    color: $mainColor;
  }
}

%styleOutput {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: inset 0px 1px 5px 0px $borderColor;
  padding: 15px;
  word-break: break-all;
  height: 200px;
  max-height: 200px;
  overflow-y: auto;
}

%styleButton {
  padding: 12px 45px;
  border-radius: 50px;
  border: 1px solid transparent;
  font-weight: bold;
  color: #fff;
  background-color: $mainColor;
  transition: all 0.3s ease;
  &:disabled {
    background-color: $shadowColor;
    cursor: no-drop;
    box-shadow: none;
  }
  &:hover {
    box-shadow: 0px 0px 15px 0px $borderColor;
    border-color: $mainColor;
    color: $mainColor;
    background-color: #FFF;
  }
  &:hover:disabled {
    box-shadow: none;
    background-color: $shadowColor;
    color: #FFF;
    border-color: transparent;
  }
}

@media (max-width: 767.98px) {
  header {
    text-align: center;
  }

  .wrapper-gene-qrcode .gene-qrcode .output .QR-code {
    font-size: 3rem;
  }


  /*---------------------------------
nav
---------------------------------*/
  nav {
    border-bottom: 1px solid $borderColor;
    box-shadow: 0px 0px 2px 0px $shadowColor;
    .wrapper-nav {
      position: relative;
      max-height: 50px;
      .btn-nav-mobile,
      .brand-name-mobile {
        display: block;
      }
      .btn-nav-mobile {
        height: 20px;
        width: 30px;
        display: grid;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        span {
          background-color: $dark;
          display: block;
          width: 100%;
          height: 3px;
          border-radius: 4pc;
        }
      }

      .brand-name-mobile {
        a {
          color: $mainColor;
          font-weight: bold;
          margin: 1rem 0;
          text-align: center;
        }
      }
      .wrapper-nav-list {
        width: 45%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-100%);
        backdrop-filter: blur(5px);
        background-color: rgb(0, 0, 0, 0.7);
        background: linear-gradient(
          to right,
          rgb(0, 0, 0, 0.7),
          rgb(0, 0, 0, 0.5)
        );
      }
      ul {
        flex-direction: column;
        height: auto;
        li {
          width: 100%;
          padding: 15px 20px;
          transition: all 0.3s linear;
          border-bottom: 0.2px solid rgba(255, 255, 255, 0.2);
          cursor: pointer;
          color: #fff;
          a {
            color: #fff;
          }
          .child-list {
            position: relative;
            top: 0 !important;
            padding: 10px 0;
            margin: 0 0 0 20px;
            border: none;
            border-top: none;
            box-shadow: none;
            background-color: transparent;
            border-radius: 0;
            display: none;
            li {
              padding: 0;
              width: 100%;
              border: none;
              border-left: 1px solid rgba(255, 255, 255, 0.7);
              a {
                margin: 0.5rem 0;
                padding: 7px 10px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                width: 100%;
                font-size: 15px;
                color: #fff;
                &:hover {
                  background-color: $dark;
                }
              }
            }
          }
          .child-list.active {
            display: block;
          }
          &:hover {
            background-color: transparent;
          }
          &:hover > .child-list {
            display: block;
          }
        }
      }
      .wrapper-nav-list.active {
        animation: rightToLeft 0.5s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }
  }

  .gene-pwd,
  .gene-qrcode,
  .gene-shadow,
  .md5-hash,
  .base64-decode,
  .base64-encode,
  .text-tool,
  .rgb-to-hex,
  .hex-to-rgb {
    width: 100% !important;
  }

  .parent-box-color-preview {
    height: 200px;
  }
  
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@keyframes topToBottom {
  from {
    top: 50%;
    opacity: 0;
  }
  to {
    top: 100%;
    opacity: 1;
  }
}

@keyframes rightToLeft {
  from {
    transform: translateX(-100);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
