@import url("https://fonts.googleapis.com/css2?family=Kufam&display=swap");
@import "./custom-framework.css";

$borderColor: #d6d6d6;
$mainColor: #0a6fff;
$darkColor: #043a87;
$shadowColor: #d4d4d4;
$textColor: #525252;
$dark: #1f1f1f;

body {
  position: relative;
  font-family: "Kufam", sans-serif;
  color: $textColor;
}

/*---------------------------------
nav
---------------------------------*/
nav {
  border-bottom: 1px solid $borderColor;
  box-shadow: 0px 0px 2px 0px $shadowColor;
  .wrapper-nav {
    position: relative;
    max-height: 50px;
    .brand-name {
    }
    ul {
      li {
        padding: 15px 20px;
        transition: all 0.3s linear;
        cursor: pointer;
        span {
        }
        .child-list {
          position: absolute;
          top: 100%;
          padding: 10px 0;
          border: 1px solid $borderColor;
          border-top: none;
          box-shadow: 0px 2px 6px 0px $shadowColor;
          background-color: #fff;
          border-radius: 4px;
          transition: all 0.3s linear;
          display: none;
          li {
            padding: 0 10px;
            a {
              padding: 0 10px;
              width: 100%;
              font-size: 15px;
              color: $textColor;
              padding: 7px 0;
            }
          }
          &:hover {
            display: block;
          }
        }
        &:hover {
          background-color: #fafafa;
        }
        &:hover > .child-list {
          display: block;
        }
      }
    }
  }
}

/*---------------------------------
home page
---------------------------------*/
main {
  background-color: #fafafa;
  .list-tools {
    height: 209px;
    ul {
      height: inherit;
      li {
        a {
          display: inline-block;
          background-color: #fff;
          padding: 12px 30px;
          box-shadow: 0px 0px 2px 0px $shadowColor;
          transition: all 0.3s ease;
          &:hover {
            box-shadow: 0px 1px 12px 0px $shadowColor;
          }
        }
      }
    }
  }
}

/*---------------------------------
generate password page
---------------------------------*/
.wrapper-gene-pwd {
  .gene-pwd {
    width: 60%;
    padding: 2rem 0;
    margin: 0 auto;
    header {
      margin: 1rem 0;
      h1 {
        margin-bottom: 0.5rem;
      }
    }
    .input {
      text-align: center;
      .item {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        label {
          cursor: pointer;
        }
        input[type="checkbox"] {
          cursor: pointer;
        }
        select {
          padding: 0 10px;
          width: 100px;
        }
      }
      button {
        margin: 1rem 0;
        @extend %styleButton;
      }
    }
    .output {
      .task-bar {
        display: flex;
        justify-content: flex-end;
        padding: 5px 0;
        button {
          @extend %styleCopyBtn;
        }
      }
      .result {
        @extend %styleOutput;
      }
    }
  }
}

/*---------------------------------
generate QRcode
---------------------------------*/
.wrapper-gene-qrcode {
  .gene-qrcode {
    width: 60%;
    padding: 2rem 0;
    margin: 0 auto;
    header {
      margin: 1rem 0;
      h1 {
        margin-bottom: 0.5rem;
      }
    }
    .input {
      text-align: center;
      .alert-error {
        color: red;
        padding: 5px;
      }
      input {
        width: 100%;
        margin: 0 auto;
        display: block;
        box-shadow: inset 0px 1px 5px 0px $borderColor;
        padding: 10px;
      }
      button {
        margin: 29px 0;
        @extend %styleButton;
        &:hover {
          box-shadow: 0px 0px 15px 0px $borderColor;
        }
      }
      .btn-download {
        background-color: #59c359;
      }
    }
    .output {
      @extend %styleOutput;
      .QR-code {
        font-size: 4rem;
        user-select: none;
      }
    }
  }
}

/*---------------------------------
generate box shadow
---------------------------------*/
.wrapper-gene-shadow {
  .gene-shadow {
    width: 60%;
    padding: 2rem 0;
    margin: 0 auto;
    header {
      margin: 1rem 0;
      h1 {
        margin-bottom: 0.5rem;
      }
    }
    .input {
      margin: 1rem 0;
      .controls {
        .controls-1 {
          margin-bottom: 1rem;
          form {
            label {
            }
            input[type="radio"] {
            }
          }
        }
        .controls-2 {
          .parent-radio {
            display: flex;
            justify-content: space-between;
            align-items: center;
            label {
            }
            input[type="range"] {
            }
            span {
            }
          }
        }
      }
    }
    .output {
      .task-bar {
        display: flex;
        justify-content: flex-end;
        button {
          padding: 5px;
          background-color: transparent;
          svg {
            font-size: 15px;
          }
        }
      }
      .result {
        @extend %styleOutput;
      }
    }
    .box-review {
      user-select: none;
      span {
        font-size: 2rem;
        opacity: 0.5;
      }
    }
  }
}

.wrapper-md5-hash {
  .md5-hash {
    width: 60%;
    padding: 2rem 0;
    margin: 0 auto;
    header {
      margin: 1rem 0;
      h1 {
        margin-bottom: 0.5rem;
      }
    }
    .input {
      textarea {
        @extend %styleOutput;
        width: 100%;
        resize: none;
        font-size: 18px;
      }
    }
    .controls {
      margin: 0.5rem 0 1rem 0;
      button {
        @extend %styleButton;
      }
    }
    .output {
      .task-bar {
        display: flex;
        justify-content: flex-end;
        padding: 3px 0;
        button {
          @extend %styleCopyBtn;
        }
      }
      .result {
        @extend %styleOutput;
      }
    }
  }
}

/*---------------------------------
footer
---------------------------------*/
footer {
  text-align: center;
  padding: 1rem;
  background-color: $dark;
  color: #fff;
  font-size: 15px;
}

%styleCopyBtn {
  color: $textColor;
  margin: 0 0 0 20px;
  padding: 3px;
  transition: all 0.3s ease;
  background-color: transparent;
  svg {
    font-size: 15px;
  }
  span > svg {
    color: $mainColor;
  }
  &:active {
    transform: scale(1.1);
    color: $mainColor;
  }
}

%styleOutput {
  background-color: #fff;
  height: 200px;
  border-radius: 4px;
  box-shadow: inset 0px 1px 5px 0px $borderColor;
  padding: 15px;
}

%styleButton {
  padding: 8px 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: $mainColor;
  border-radius: 4px;
  transition: all 0.3s ease;
  &:disabled {
    background-color: $shadowColor;
    cursor: no-drop;
    box-shadow: none;
  }
  &:hover:disabled {
    box-shadow: none;
  }
  &:hover {
    box-shadow: 0px 0px 15px 0px $borderColor;
  }
}
